.container {
  /* Estilos generales del contenedor principal */
  background-color: black; /* Agrega el fondo negro al contenedor principal */
  padding: 10px;
  color: rgb(236, 230, 230);
}

.navBarContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.refreshContainer,
.search,
.filterC {
  display: flex;
  align-items: center;
  gap: 10px;
}

.refreshContainer {
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-image: url('../../icons/pngegg.png');
  background-size: cover;
  background-position: center;
}

.input {
  padding: 5px;
  border: none;
  background-color: transparent;
  color: white;
}

.btnsearch,
.button,
.select {
  padding: 10px; /* Ajusta el relleno del botón */
  border: none;
  background-color: transparent; /* Quita el fondo del botón de búsqueda */
  color: white;
  cursor: pointer;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.noRecipes {
  text-align: center;
}
